/*Text */
.text-center{
    text-align: center;
}
.heading-small{
    font-size: 1.25rem;
    margin-right: auto; 
}
.heading-medium{
    font-size: 1.5rem;
    
}
.heading-large{
    font-size:1.3rem;
    font-weight: 400;
}


/*Colors*/
.bg-dark-blue{
    background:#1E3050 ;
    opacity: 0.3;
}
.bg-light-blue{
    background:#336ea6 ;
}
/*Container*/

.container{
    max-width: 1100px;
    margin: 0 auto;
}